<h2>{{instructor.first_name}}'s Classes</h2>

{{#if instructor.classes}}
	<table>
		<thead>
			<tr>
				<th>Class ID</th>
				<th>Class Name</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each instructor.classes}}
				<tr>
					<td>{{class_id}}</td>
					<td>{{class_title}}</td>
					<td><a href="/classes/{{class_id}}/lessons">View Lessons</a></td>
					<td><a href="/instructors/lessons/new/{{class_id}}">Add Lessons</a></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{else}}
	<p>You are not teaching any classes.</p>
{{/if}}